*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.title{
    font-size: 50px;
    color: sienna;
    padding-left: 5%;
}

.navbar{
    height: 15%;
    display: flex;
    align-items: center;
    padding-right: 15%;
    align-self: center;
    background-color: rgba(0,0,0,0.2);
}
.logo{
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;

    height: 50px;
    width: 50px;
    cursor: pointer;
}
nav{
    text-align: right;
    flex: 1;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    align-items: center;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20;
    font-weight: bold;
}
.navbar ul li::after{

    content: '';
    transition: 250ms;
    background: sienna;
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0px;
    bottom: -5px;

}
.navbar ul li:hover::after{
    width: 100%;
}




h1{
    color: white;
    font-size: 100px;
    padding-left: 300px;
    margin-right: 100px;
}

p{
    color: snow;
    font-size: 15px;
    line-height: 15px;
    padding-right: 500px;
}

.row{
    display: flex;
    height: 78%;
    align-items: center;

}

.col{
    float: basis 50%;
}


.card{
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 15px;
    padding: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;

}


.card:hover{
    transform: scale(1.2);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.card1{
    background-image: url(../images/king.jpg);

}

.card2{
    background-image: url(../images/queen.png);
}

.card3{
    background-image: url(../images/rook.png);
}

.card4{
    background-image: url(../images/bishop.png);
}

.card5{
    background-image: url(../images/knight.jpg);
}

.card6{
    background-image: url(../images/pawn.png);
}

.hide{
    display: none;
}





article{
    max-width: 1200px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 24px;
    padding: 1.5%;
    border-radius: 10px;
    float: left;
}


aside {
    margin-top: 50px;
    margin-right: 10%;
    padding: 2%;
    float:right;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;

}

h3{
    font-style: italic;
}

footer {
    text-align: center;
    background-color: rgba(136, 45, 23,0.5);
    bottom:0;
    width:100%;
    height:80px; 
    clear: both;
    position: relative;
  }

  .learnMore{
      margin-top: 17px;
      padding: 15px;
      border-radius: 10px;
      background-color: black;
      color: white;
  }
  .learnMore:hover{
      transform: scale(1.2);
      
  }